@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e69sl8');
  src:  url('fonts/icomoon.eot?e69sl8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e69sl8') format('truetype'),
    url('fonts/icomoon.woff?e69sl8') format('woff'),
    url('fonts/icomoon.svg?e69sl8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconos-"], [class*=" iconos-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconos-Autoridad:before {
  content: "\e90d";
}
.iconos-Presentaciones:before {
  content: "\e90e";
}
.iconos-Probono:before {
  content: "\e90f";
}
.iconos-Servicios_Constitucional:before {
  content: "\e90b";
}
.iconos-Servicios_Fiscal:before {
  content: "\e90c";
}
.iconos-Mas:before {
  content: "\e909";
}
.iconos-Elaaa_pico:before {
  content: "\e90a";
  color: #db2e2e;
}
.iconos-Valores_Honestidad:before {
  content: "\e900";
}
.iconos-Valores_Especializacion:before {
  content: "\e901";
}
.iconos-Valores_Efectividad:before {
  content: "\e902";
}
.iconos-Valores_Agradecimiento:before {
  content: "\e903";
}
.iconos-Servicios_Seguros:before {
  content: "\e904";
}
.iconos-Servicios_Humanos:before {
  content: "\e905";
}
.iconos-Servicios_Administrativo:before {
  content: "\e906";
}
.iconos-Instagram:before {
  content: "\e907";
}
.iconos-Facebook:before {
  content: "\e908";
}
